Source: ros-groovy-laser-proc
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-nodelet, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-sensor-msgs
Homepage: http://ros.org/wiki/laser_proc
Standards-Version: 3.9.2

Package: ros-groovy-laser-proc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-nodelet, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-sensor-msgs
Description: laser_proc
